{extend name="base" /}
{block name="main"}
    <form class="layui-form" action="">
        <div style="margin: auto auto; padding-top: 25px; padding-left: 50px;">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码框</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formSubmit">登陆</button>
                <button class="layui-btn layui-btn-primary closeBtn">取消</button>
            </div>
        </div>
        </div>
    </form>
{/block}
{block name="js"}
<script>
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(formSubmit)', function(data){
            var index = layer.load();
            $.post('/user/logindo',data.field,function (d){
                if(d.code==0){
                    layer.msg('登陆成功');
                    var pindex = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(pindex);
                    parent.location.href = '/'
                }else{
                    layer.alert(d.msg);
                }
            }).fail(function (p1){
                layer.msg(p1.statusText +' : '+p1.status);
            }).always(function (){
                layer.close(index);
            });
            return false;
        });
        $('.closeBtn').on('click',function (){
           var pindex = parent.layer.getFrameIndex(window.name);
            parent.layer.close(pindex);
        });
    });
</script>
{/block}
