{extend name="base" /}
{block name="main"}
<table id="table" lay-filter="table"></table>

<script type="text/html" id="toolbar">
    <form class="layui-form" id="filterForm" lay-filter="filterForm">
        <div class="layui-form-item">
            <label class="layui-form-label">关键词</label>
            <div class="layui-input-inline">
                <input type="text" lay-filter="keyword" name="keyword" autocomplete="off" placeholder="代码：国家、地区、邮编" class="layui-input">
            </div>
            <label class="layui-form-label">重量</label>
            <div class="layui-input-inline">
                <input type="number" lay-filter="weight" name="weight" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <button type="submit" class="layui-btn layui-icon layui-icon-search" lay-submit id="searchBtn" lay-filter="searchBtn"></button>
                <button type="submit" class="layui-btn layui-icon layui-icon-close" lay-submit id="filterCloseBtn" lay-filter="filterCloseBtn"></button>
            </div>
            <div class="layui-input-inline">
                {if $right=='1'}
                <button type="button" class="layui-btn" id="upload">
                    <i class="layui-icon layui-icon-upload"></i>
                    导入
                </button>
                {/if}
            </div>
        </div>
    </form>
</script>

<script type="text/html" id="rowbar">
    {{# if(d.right==1){ }}
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{#}else{ }}
    <a class="layui-btn layui-btn-xs layui-btn-disabled" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-disabled" lay-event="del">删除</a>
    {{# } }}
</script>
{/block}
{block name="js"}
<script>
    layui.use(['table','upload','form'], function(){
        var table = layui.table;
        var form = layui.form;
        var upload = layui.upload;
        var thisTable = table.render({
            elem: '#table'
            ,url:'/wanbang/getData'
            ,toolbar: '#toolbar' //开启头部工具栏，并为其绑定左侧模板
            ,title: '运费报价数据表'
            ,cols: [
                [
                    {type: 'checkbox', rowspan:2}
                    ,{field:'pk', title:'ID', width:80, unresize: true, sort: true , rowspan:2}
                    ,{field:'dest_country_id', title:'国家', width:110, sort: true , rowspan:2}
                    ,{field:'weight_min', title:'重量下限', width:110, sort: true , rowspan:2}
                    ,{field:'weight_max', title:'重量上限', width:110 , rowspan:2}
                    ,{field:'unit_price', title:'单价(USD/kg)', width:120 , rowspan:2}
                    ,{field:'handling_fee', title:'处理费(USD)', width:130, sort: true , rowspan:2}
                    ,{field:'', title:'服务商', minWidth:280, colspan:2}
                    ,{field:'', title:'方式' , minWidth:350, colspan:3}
                    ,{field: 'addtime', title:'更新时间', width:120,rowspan:2}
                    // ,{fixed: 'right', title:'操作', toolbar: '#rowbar', minWidth:150 , rowspan:2}
                ],
                [
                    {field:'carrier_code', title:'代码', width:130}
                    ,{field:'carrier_title', title:'标题', width:150}
                    ,{field:'method_code', title:'代码', width:130}
                    ,{field: 'method_title', title:'标题', width:220}
                    ,{field: 'method_title_cn', title:'中文名称(导入文件需转为utf8)'}
                ]
            ]
            ,page: true
            ,limit:20
            ,limits:[20,50,100,200,500]
            ,height: 'full-20'
            ,even: false    //开启隔行背景
            ,done:function (res){
                form.val('filterForm',{
                    keyword:res.search.keyword,
                    weight:res.search.weight
                });
            }
        });
        table.on('sort(table)', function(obj){ //注：sort 是工具条事件名，table 是 table 原始容器的属性 lay-filter="对应的值"
            thisTable.reload({
                initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                ,where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    field: obj.field //排序字段
                    ,order: obj.type //排序方式
                }
            });
        });
        //监听搜索按钮
        form.on('submit(searchBtn)', function(data){
            thisTable.reload({
                where: data.field
            });
            return false;
        });
        form.on('submit(filterCloseBtn)', function(data){
            form.val('filterForm',{
                keyword:'',
                weight:''
            });
            thisTable.reload({
                where: {}
            });
            return false;
        });

        var uploadInst = upload.render({
            elem: '#upload' //绑定元素
            ,url: '/wanbang/upload'
            ,accept: 'file'
            ,exts: 'xls|xlsx|csv'
            ,field:'importfile'
            ,before:function (obj){
                layer.load();
            }
            ,done: function(res){
                //上传完毕回调
                if(res.code==0){
                    layer.msg('成功');
                }else{
                    layer.alert('失败。'+res.msg);
                }
                layer.closeAll('loading');
                console.log(res);
            }
            ,error: function(){
                //请求异常回调
                layer.msg('上传失败');
                layer.closeAll('loading');
            }
        });
    });
</script>
{/block}